.seach {
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  & p {
    color: #cbd1f5;
  }

  .input_wrapper {
    display: flex;
    border-radius: 0.5rem;
    border: 1.5px solid white;
    & input,
    & button {
      padding: 0.75rem;
      border: none;
      border: none;
      background-color: #ffffff05;
      outline: none;
      color: white;
    }
    & button {
      border-left: none;
      cursor: pointer;
    }
    & input {
      border-right: none;
    }
    &:has(input:focus) {
      border-color: #ffffff;
      box-shadow: 3px 4px 10px 1px rgba(255, 255, 255, 0.6);
    }
  }

  & .error{
    color: red;
    
  }
}
