.repositorios{
  & > h2{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  & .respositorios_container{
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  & > div{
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .75rem;
  }
  & .avatar{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #9da5d1;
  } 
}

@media (max-width: 50rem) {
  .repositorios{
    & > h2{
      font-size: 0.8rem;
    }
  }
}