*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code", sans-serif;
}

body{
  color: #fff;
  background-color: #0e1129;
  padding: 2rem;
  
}
h1{
  font-size: 3rem;
}
p{
  text-align: center;
}
a{
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 0.9rem;
}
::-webkit-scrollbar-track {
  background: #2b3566; 
  border-radius: 0.4rem; 
}
::-webkit-scrollbar-thumb {
  background-color: #9da5d1;
  border-radius: 10px;
  border: 2px solid #1f2937;
}