*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code", sans-serif;
}
body{
  color: #fff;
  background-color: #0e1129;
  padding: 2rem;

}
h1{
  font-size: 3rem;
}
p{
  text-align: center;
}
a{
  text-decoration: none;
}